CharacterManager/bin/Debug/net9.0/CharacterManager.dll
CharacterManager/obj/Debug/net9.0/refint/CharacterManager.dll
CharacterManager/bin/Debug/net9.0/CharacterManager.dll
CharacterManager/bin/Debug/net9.0/CharacterManager.exe
CharacterManager/bin/Debug/net9.0/CharacterManager.pdb
CharacterManager/obj/Debug/net9.0/apphost.exe
CharacterManager/obj/Debug/net9.0/CharacterManager.AssemblyInfo.cs
CharacterManager/obj/Debug/net9.0/CharacterManager.AssemblyInfoInputs.cache
CharacterManager/obj/Debug/net9.0/CharacterManager.dll
CharacterManager/obj/Debug/net9.0/CharacterManager.pdb
CharacterManager/obj/Debug/net9.0/CharacterManager.sourcelink.json
CharacterManager/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
CharacterManager/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
CharacterManager/obj/Debug/net9.0/rpswa.dswa.cache.json
CharacterManager/obj/Debug/net9.0/ref/CharacterManager.dll
CharacterManager/obj/Debug/net9.0/refint/CharacterManager.dll
