@page "/"
@using CharacterManager.Server.Constants
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject AppVersionService VersionService
@inject ClientLocalizationService LocalizationService
@using CharacterManager.Server.Services

<link rel="stylesheet" href="/Styles/Home.css" />

<PageTitle><LocalizedText Key="navigation.home" /></PageTitle>

<div class="home-container">
    @if (showPmlImportAlert)
    {
        <div class="alert alert-warning mt-4" role="alert">
            <h4 class="alert-heading">Initialisation requise</h4>
            @if (!string.IsNullOrEmpty(importError))
            {
                <p>@importError</p>
            }
            else
            {
                <p>La base de données est vide. Veuillez <a href="/import-export-pml">importer un fichier PML</a> pour initialiser l'application.</p>
                <a class="btn btn-primary" href="/import-export-pml">Importer un fichier PML</a>
            }
        </div>
    }
    <div class="container-fluid home-row g-0">
        <div class="row align-items-stretch g-0">
            @if (string.IsNullOrEmpty(homeImageUrl))
            {
                <div class="col-lg-8 home-image-pane" style="background-color: lightblue;"></div>
            }
            else
            {
                <div class="col-lg-8 home-image-pane" style="background-image: url('@homeImageUrl');"></div>
            }
            <div class="col-lg-4 d-flex home-content-pane">
                <div class="welcome-card flex-fill">
                    <h1>Character Manager</h1>
                    <p class="lead"><LocalizedText Key="home.welcome" /></p>
                                        
                    <div class="features-section">
                        <h3><LocalizedText Key="home.features" /></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="features-list">
                                    <li><strong><LocalizedText Key="navigation.squad" /> :</strong> <LocalizedText Key="home.squad" /></li>
                                    <li><strong><LocalizedText Key="navigation.inventory" /> :</strong> <LocalizedText Key="home.inventory" /></li>
                                    <li><strong><LocalizedText Key="home.bulkLabel" /> :</strong> <LocalizedText Key="home.bulk" /></li>
                                    <li><strong><LocalizedText Key="home.detailsLabel" /> :</strong> <LocalizedText Key="home.details" /></li>
                                    <li><strong><LocalizedText Key="home.csvLabel" /> :</strong> <LocalizedText Key="home.csvImport" /></li>
                                    <li><strong><LocalizedText Key="home.pmlLabel" /> :</strong> <LocalizedText Key="home.pml" /></li>
                                    <li><strong><LocalizedText Key="home.templatesLabel" /> :</strong> <LocalizedText Key="home.templates" /></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="features-list">
                                    <li><strong><LocalizedText Key="home.dynamicLabel" /> :</strong> <LocalizedText Key="home.dynamicImages" /></li>
                                    <li><strong><LocalizedText Key="home.ranksLabel" /> :</strong> <LocalizedText Key="home.ranks" /></li>
                                    <li><strong><LocalizedText Key="home.powerLabel" /> :</strong> <LocalizedText Key="home.power" /></li>
                                    <li><strong><LocalizedText Key="home.filtersLabel" /> :</strong> <LocalizedText Key="home.filters" /></li>
                                    <li><strong><LocalizedText Key="home.bestSquadLabel" /> :</strong> <LocalizedText Key="home.bestSquad" /></li>
                                    <li><strong><LocalizedText Key="home.historyLabel" /> :</strong> <LocalizedText Key="home.history" /></li>
                                    <li><strong><LocalizedText Key="home.lucieLabel" /> :</strong> <LocalizedText Key="home.lucie" /></li>
                                    <li><strong><LocalizedText Key="home.localizationLabel" /> :</strong> <LocalizedText Key="home.localization" /></li>
                                    <li><strong><LocalizedText Key="home.sqliteLabel" /> :</strong> <LocalizedText Key="home.sqlite" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
