@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CharacterManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/images/interface/menu-icon.png?v=1" alt="" class="nav-icon me-2" /> Accueil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="escouade">
                <img src="/images/interface/menu-icon.png?v=1" alt="" class="nav-icon me-2" /> Escouade
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="meilleur-escouade">
                <img src="/images/interface/menu-icon.png?v=1" alt="" class="nav-icon me-2" /> Meilleure Escouade
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventaire">
                <img src="/images/interface/menu-icon.png?v=1" alt="" class="nav-icon me-2" /> Inventaire
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <img src="/images/interface/menu-icon.png?v=1" alt="" class="nav-icon me-2" /> Templates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import-csv">
                <img src="/images/interface/menu-icon.png?v=1" alt="" class="nav-icon me-2" /> Importer CSV
            </NavLink>
        </div>

    </nav>
</div>

<style>
    .nav-link-button {
        background: none;
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
    }
</style>

@code {
    [Parameter]
    public EventCallback OnAboutClick { get; set; }

    private async Task ShowAbout()
    {
        await OnAboutClick.InvokeAsync();
    }
}